body {
 background-image: url("4.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

body {
  color: blue;
}

h2 {

	color: #3C798E;
}
h1 {
	display: inline;
	position: relative;
	font: 200px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: #3C798E; 
}

h1:after {
	content: "AboutMe";
	position: absolute; left: 10px; top: 5px;
	color: #3C8E7D;      
}

pre {

	color: #3C798E;
	text-align: center;
	font-size: 18px ;

}

p {
	color: #3C798E;
}
table {
	width:100%;
}
