.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.data__container {
  display: flex;
  flex: 1;
  margin-top: 20px;
  flex-direction: column;
  overflow: auto;
  height: 85vh;
  max-width: 1200px;
  min-width: 500px;
  width: 100%;
}

.user__header,
.user {
  display: flex;
}

.user {
  height: 35px;
  border-bottom: 1px solid #000;
}

.user:not(.user__header):nth-of-type(odd) {
  background-color: #f8e7ff;
}

.user>* {
  display: flex;
  align-items: center;
}

.user__header {
  font-weight: 700;
  background-color: #f1dafa;
}

.user .index {
  width: 50px;
  justify-content: center;
  font-weight: 600;
}

.user .first_name {
  width: fit-content;
  min-width: calc(100% / 4 - 50px);
}

.user .last_name {
  width: fit-content;
  min-width: calc(100% / 4 - 50px);
}

.user .country {
  width: fit-content;
  min-width: calc(100% / 4 - 50px);
}

.user .birthday {
  width: fit-content;
  min-width: calc(100% / 4 - 50px);
}

.user__footer {
  align-items: center;
  font-weight: 600;
  padding-left: 48px;
}
